.idea
.vscode
.DS_Store
*.exe
*.log

# 附件
attachment

# 运行时
attachments
runtime

# hello
srv_hello/.idea
srv_hello/.vscode
srv_hello/.DS_Store
srv_hello/test.go

# main
main

# 测试文件
test.go

# cmd
push.sh
